body {
	background: url("./images/bg.bmp") #3f3f3f;
	margin: 0;
	padding: 0;
}

div#maincontainer {
	position: absolute;
	background-color: black;
	color: white;
	margin: 0;
	padding: 3px;
	display: block;
	left: 10vw;
	width: 60vw;
	min-width: 25em;
}

nav, article {
	position: relative;
}

nav {
	top: 0;
	height: 3vh;
}

a:link {
	color: #66ffff;
}
a:visited {
	color: #77eeee;
}

article {
	top: 3vh;
}

h1 {
	font-size: 26pt;
}

h2 {
	font-size: 20pt;
}

p,dt,dd {
	font-size: 16pt;
}

dt {
	float: left;
	clear: left;
	text-align: right;
	font-weight: bold;
}

dl.experiments dt, dl.experiments dd {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

dl#swarmexperiments dt {
	width: 17em;
}
dl#swarmexperiments dd {
	margin-left: 18em;
}

dl#mainexperiments dt {
	width: 15em;
}
dl#mainexperiments dd {
	margin-left: 16em;
}

dl#contact dt {
	width: 8em;
}
dl#contact dd {
	margin-left: 9em;
}